* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: calc(100svh - 100px);
  background-color: aliceblue;
  justify-content: space-around;
}

aside {
  height: calc(100svh - 100px);
  background-color: antiquewhite;
  width: 30%;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  margin: 13px 0;
}

.day {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);

}

.currentMonthContainer {
  display: flex;
  font-size: 2rem;
}

#currentMonth {
  margin: 0 20px;
}

#tosoContainer{
  text-align: center;
}

.todoTitle {
  margin-top: 20px;
  font-size: 2rem;
}

#todoDetail {
  text-align: center;
  border: 2px solid #000000;
	width: 300px;
	height: 100px;
}