@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  gap: 1rem;
  padding: 20px;
  background-color: rgb(84, 114, 139);
  border-radius: 80px;
  margin: 2rem;
  margin-bottom: 1rem;
  border: solid;
}

.currentMonthContainer {
  display: flex;
  gap: 5rem;
}

#currentMonth {
  padding: 0 5rem;
}

#monthBack {
  cursor: pointer;
  font-weight: bold;
}

#monthForward {
  cursor: pointer;
  font-weight: bold;
}

.welcomeSegment {
  text-align: center;
  font-size: 2rem;
  padding: 40px 59px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  background-color: rgb(230, 230, 107);
}

.activeTodo {
  list-style: none;
}

.todoTitle {
  font-size: 1.5rem;
}

.todoDate {
  font-size: 1rem;
}

.todoBtns {
  display: flex;
  flex-direction: column;
  padding: 0px 26px;
  gap: 1rem;
}

.addNewTodo {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  /* padding: 50px; */
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.todoText {
  width: 100%;
  height: 120px;
  font-size: 1.3rem;
  border-bottom: none;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.chooseTodoDate {
  height: 50px;
  text-align: center;
  font-size: 0.8rem;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 100%;
}

.addTodo {
  font-size: 26px;
  border: solid 1px;
  border-radius: 55px;
  padding: 15px 25px;
  background-color: white;
  font-size: 1rem;
  margin: 10px 0;
  justify-content: center;
}

.addTodo:hover {
  background-color: rgb(202, 202, 202);
}

main {
  height: calc(100svh - 190px);
  display: flex;
  width: 100vh;
}

aside {
  height: calc(100svh - 228px);
  width: 30%;
  border: solid;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.activeTodoContainer {
  display: flex;
  align-items: center;
  padding: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.calenderContainer {
  /* width: calc(100% - 30%); */
  margin: 1rem 2rem;
  border: solid;
  border-radius: 55px;
}

.daysName {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  list-style: none;
  font-size: 2rem;
  padding: 2rem;
  background-color: rgb(179, 82, 82);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.daysName li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 0px 20px;
}

.dateContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px 25px;
  margin: 1rem 2.5rem;
  font-size: 2rem;
  border-radius: 100%;
}
.date:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 767px) {
  header {
    height: 30px;
  }

  .currentMonthContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 0;
  }

  #currentMonth {
    font-size: 18px;
  }

  #monthBack,
  #monthForward {
    font-size: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .calenderContainer {
    /* width: calc(100% - 30%); */
    margin: 1rem;
    border: solid;
    border-radius: 20px;
    order: -1;
}

.daysName {
  font-size: 1rem;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

aside {
    height:auto;
    width: auto;
}

.welcomeSegment {
  text-align: center;
  font-size: 1.1rem;
}

.todoTitle {
  font-size: 1rem;
}

}
