@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  gap: 1rem;
  padding: 20px;
  background-color: rgb(84, 114, 139);
  border-radius: 80px;
  margin: 2rem;
  margin-bottom: 1rem;
  border: solid;
}

.currentMonthContainer {
  display: flex;
  gap: 5rem;
}

#currentMonth {
  padding: 0 5rem;
}

#monthBack {
  cursor: pointer;
  font-weight: bold;
}

#monthForward {
  cursor: pointer;
  font-weight: bold;
}

.welcomeSegment {
  text-align: center;
  font-size: 2rem;
  padding: 40px 59px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  background-color: rgb(230, 230, 107);
}

.activeTodo {
  list-style: none;
}

.todoTitle {
  font-size: 1.5rem;
}

.todoDate {
  font-size: 1rem;
}

.todoBtns {
  display: flex;
  flex-direction: column;
  padding: 0px 26px;
  gap: 1rem;
}

.addNewTodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 50px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.todoText {
  width: 350px;
  height: 120px;
  font-size: 1.3rem;
  border-bottom: none;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.chooseTodoDate {
  height: 50px;
  text-align: center;
  font-size: 0.8rem;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.addTodo {
  font-size: 26px;
  border: solid 1px;
  border-radius: 55px;
  padding: 15px 25px;
  background-color: white;
  font-size: 1rem;
}

.addTodo:hover {
  background-color: rgb(202, 202, 202);
}

main {
  height: calc(100svh - 190px);
  display: flex;
}

aside {
  height: calc(100svh - 228px);
  width: 30%;
  border: solid;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.activeTodoContainer {
  display: flex;
  align-items: center;
  padding: 40px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.addTodo {
  float: right;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgba(0,0,0,0.25), 
  inset 2px 2px 5px rgba(0,0,0,0.5), 
  inset -3px -3px 5px rgba(0,0,0,0.5);
}

.activeTodoContainer li {
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin: 15px 0;
  padding: 10px 10px 10px 45px;
  min-height: 45px;
  cursor: pointer;
  color: #000000;
}

.activeTodoContainer li i {
  position: absolute;
  right: -40px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 7px rgba(0,0,0,0.25), 
  inset 2px 2px 5px rgba(225,255,255,0.5), 
  inset -3px -3px 5px rgba(0,0,0,0.5);
}

.activeTodoContainer li i::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.activeTodoContainer li i::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}

.activeTodoContainer li::before {
  content: '';
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  background: fff;
  border: 1px solid;
  border-radius: 50%;
}

.activeTodoContainer li.done {
  background: fff;
  
}

/* Checkbox */
.activeTodoContainer li.done::after {
  content: '';
  position: absolute;
  left: 16px;
  width: 12px;
  height: 6px;
  border-left: 3px solid green;
  border-bottom: 3px solid green;
  transform: rotate(315deg);
}

.todoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calenderContainer {
  width: calc(100% - 30%);
  margin: 1rem 2rem;
  border: solid;
  border-radius: 55px;
}

.daysName {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  list-style: none;
  font-size: 2rem;
  padding: 2rem;
  background-color: rgb(179, 82, 82);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.daysName li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 0px 20px;
}

.dateContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px 25px;
  margin: 1rem 2.5rem;
  font-size: 2rem;
  border-radius: 100%;
}
.date:hover {
  background-color: aliceblue;
}
